<div id="contacts" class="tab" style="display:none;">
  <div class="w3-padding contacts">
    <div class="contacts_row contacts_row1">
      <div class="contacts_circle contact1"></div>
      <div class="contacts_title contact1">UNHCR</div>
    </div>
    <div class="contacts_row contacts_row2">
      <div class="contacts_circle contact2"></div>
      <div class="contacts_title contact2">Red Cross</div>
    </div>
    <div class="contacts_row contacts_row3">
      <div class="contacts_circle contact3"></div>
      <div class="contacts_title contact3">Bank</div>
    </div>
  </div>
</div>
  