<div id="rahafcredentials" class="tab" style="display:none;">
  <div class="w3-padding rahafcredentials">
    <%for(var i=0; i < credentials.length; i++) {%>
      <a class="rahafcredentials_row rahafcredentials_row<%=i+1%>" 
        onclick="showTabAndDiv('rahafcredentialdetails', '<%=credentials[i].referent%>', 'credentialsClass', 'rahafcredentials')">
        <div class="rahafcredentials_circle credential1"></div>
        <div class="rahafcredentials_title credential1">
          <%=credentials[i].schema_id.split(':')[2]%> <%=credentials[i].schema_id.split(':')[3]%>
        </div>
      </a>
      <br>
      <%}%>
  </div>
</div>
