<div id="rahafcredentials" class="tab" style="display:none;">
  <div class="w3-padding rahafcredentials">
    <div class="rahafcredentials_row rahafcredentials_row1">
      <div class="rahafcredentials_circle contact1"></div>
      <div class="rahafcredentials_title contact1">UNHCR</div>
    </div>
    <div class="rahafcredentials_row rahafcredentials_row2">
      <div class="rahafcredentials_circle contact2"></div>
      <div class="rahafcredentials_title contact2">Red Cross</div>
    </div>
    <div class="rahafcredentials_row rahafcredentials_row3">
      <div class="rahafcredentials_circle contact3"></div>
      <div class="rahafcredentials_title contact3">Bank</div>
    </div>
  </div>
</div>
  