<div id="rahafcredentials" class="tab" style="display:none;">
  <div class="w3-padding rahafcredentials">
    <%for(var i=0; i < credentials.length; i++) {%>
      <a class="rahafcredentials_row rahafcredentials_row<%=i+1%>" onclick="showDiv('<%=credentials[i].referent%>', 'credentialsClass')">
        <div class="rahafcredentials_circle contact1"></div>
        <div class="rahafcredentials_title contact1">
          <%=credentials[i].schema_id.split(':')[2]%> <%=credentials[i].schema_id.split(':')[3]%>
        </div>
      </a>
      <br>
      <%}%>
  </div>
</div>
  